body{
	margin:0;
	padding:0;
}
.navigation{
	list-style:none;
	background-color: #ffffff;
	margin:0;
	padding:0;
	width: 60%;
	margin:0 auto;

}

.navigation-items{
	display:inline-block;
	width:24%;
	text-align: center;
	
}

.navigation-items a{
	padding:1rem 0;
	display:inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bolder;
	color:#a2d9ce;
	width:100%;

}